* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    background-color: #77b633;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.main-content:after{
    background-color: aquamarine;
    content: "";
    display: table;
    clear: both;

}

nav{
    float: left;
    width: 30%;
    background-color: blueviolet;
    min-height: 1000px;
    text-align: center;
    font-size: 30px;
}

section{
    width: 70%;
    display: table;
}

article{
    width: 30%;
    float: left;
    padding: 5px;
}

article .article-title{
    font-size: 30px;
    font-weight: bold;
}
 article .article-img img{
     border-radius: 10px;
     width: 100%;
 }

 article .article-description{
     font-family: "Times New Roman";
     font-size: 25px;
 }
footer{
    min-height: 200px;
    background-color: wheat;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}